name: CI-MLflow-Training

on:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
    # Run actions/checkout@v3
    - name: Run actions/checkout@v3
      uses: actions/checkout@v3

    # Set up Miniconda (DITAMBAHKAN)
    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: false
        auto-activate-base: true
        python-version: "3.12.7"

    # Check Env
    - name: Check Env
      run: |
        echo "Python version:"
        python --version
        echo "Conda info:"
        conda info
        echo "Pip version:"
        pip --version
        echo "Current directory:"
        pwd
        ls -la

    # Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow
        if [ -f requirements.txt ]; then
          pip install -r requirements.txt
        fi

    # Run mlflow project
    - name: Run mlflow project
      run: |
        mlflow run MLProject

    # Get latest MLflow run_id
    - name: Get latest MLflow run_id
      run: |
        echo "Latest MLflow run_id:"
        ls -td mlruns/*/* | head -n 1 | awk -F'/' '{print $(NF-1)}'
