name: CI-MLflow-Training

on:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}   

    steps:
    - uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: false
        python-version: "3.10"

    - name: Install MLflow
      run: pip install mlflow

    - name: Run MLflow Project
      run: mlflow run MLProject
